h1{
  text-align: center;
}

.aboutme {
  font-size: 75%;
  font-style: italic;
  font-weight: bold;
}

.post1{
  font-family: cursive;
  color: blue;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post2{
  font-family: fantasy;
  color: orange;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post3{
  font-family: monospace;
  color: green;
  margin-top: 50px;
  margin-bottom: 50px;
}

.omg{
  color: red;
  font-weight: bold;
}
